<h1 class="mt-5"><%= @page_title %></h1>
<p>Welcome to <span class="fw-bold">Fantasy Fumble</span>, an evolving NFL fantasy game designed for fun, strategy, and community. This project starts as a simple game-week points manual calculator, but it’s just the first step in a much larger vision. Over time, Fantasy Fumble will grow into a full-fledged fantasy league platform, packed with features to keep you and your friends engaged all season long.</p>

<p>This project isn’t just about the game—it’s also a showcase of my skills in Ruby on Rails and a passion project built to refine and demonstrate my expertise in web development.</p>

<p>Whether you're here to join the fantasy fun or explore the code behind it, I hope Fantasy Fumble sparks your interest and inspires collaboration.</p>

<p class="fw-bold">Features (Current and Planned):
<ul>
  <li><span class="fw-bold">Manual Game Week Points Calculator:</span> Track and calculate scores easily.</li>
  <li><span class="fw-bold">Save Your Teams:</span> Manage your teams and get automatic game-week points calculations. (Planned)</li>
  <li><span class="fw-bold">Fantasy MVP Mode:</span> Save your team, compete in a standard league, and battle it out with other logged-in users for bragging rights. (Planned)</li>
  <li><span class="fw-bold">League Management Tools:</span> Build, join, and manage leagues. (Planned)</li>
  <li><span class="fw-bold">Draft and Trade Features:</span> Keep your teams competitive. (Planned)</li>
  <li><span class="fw-bold">Dynamic Player Statistics:</span> Real-time data integration. (Planned)</li>
</ul>
<p>This project is open-source and actively developed. Feel free to check out the repository, suggest improvements, or contribute!</p>
<p><a href="https://github.com/mafmartins/fantasy-fumble" target="_blank">Explore the Repository</a></p>
